pipeline/HttpToADLS.json
{
	"name": "HttpToADLS",
	"properties": {
		"activities": [
			{
				"name": "files_array",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"dataset": {
						"referenceName": "ds_files_array",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEachFile",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "files_array",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('files_array').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Http_Ingestion",
							"type": "Copy",
							"state": "Inactive",
							"onInactiveMarkAs": "Succeeded",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"enableStaging": false
							}
						}
					]
				}
			}
		],
		"parameters": {
			"files_array": {
				"type": "array",
				"defaultValue": [
					{
						"file": "map_cities"
					},
					{
						"file": "map_cancellation_reasons"
					},
					{
						"file": "map_rides"
					},
					{
						"file": "map_payment_methods"
					},
					{
						"file": "map_ride_statuses"
					},
					{
						"file": "map_vehicle_makes"
					},
					{
						"file": "map_types"
					}
				]
			}
		},
		"annotations": [],
		"lastPublishTime": "2026-04-08T02:55:57Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}